aniso8601==8.0.0
attrs==19.3.0
autopep8==1.5.2
backports.functools-lru-cache==1.6.1
bcrypt==3.1.7
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cloudant==2.13.0
Flask==1.1.2
Flask-Cors==3.0.8
flask-restx==0.2.0
idna==2.9
importlib-metadata==1.6.0
indic-transliteration==1.9.4
itsdangerous==1.1.0
Jinja2==2.11.2
jsonpickle==1.4.1
jsonschema==3.2.0
MarkupSafe==1.1.1
numpy==1.18.3
pycodestyle==2.5.0
pycparser==2.20
pymongo==3.10.1
pyrsistent==0.16.0
pyswisseph==2.8.0.post1
pytz==2020.1
regex==2020.4.4
requests==2.23.0
sanskrit-data==0.4.8
scipy==1.4.1
selenium==3.141.0
six==1.14.0
splinter==0.13.0
urllib3==1.25.9
Werkzeug==1.0.1
YURL==1.0.0
zipp==3.1.0
